.titulo{
 color: #545646 !important;
  font-weight: bold;
  text-decoration: underline;
  background-color: #d7c6ad;    /* Color de fondo del óvalo */
  border-radius: 999px;         /* Hace el fondo ovalado */
  padding: 0.3em 1em;           /* Espaciado interno para el óvalo */
  text-decoration: none;        /* Opcional: quita el subrayado */
  transition: background 0.2s;
  text-align: center;
}
.historia {
  background-color: #d7c6ad;      /* Beige suave */
  color: #545646;                 /* Verde olivo */
  border-radius: 1.5rem;
  padding: 2rem;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.5rem;
  line-height: 1.7;
  box-shadow: 0 4px 16px rgba(84, 86, 70, 0.08); /* Sombra suave */
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: justify;
}
.amor{
  color: #545646 !important;
  font-weight: bold;  /* Color de fondo del óvalo */
  padding: 0.3em 1em;           /* Espaciado interno para el óvalo */
  transition: background 0.2s;
  text-decoration: none;        /* Opcional: quita el subrayado */
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
}