.nombres{
    color:  #d7c6ad;
    font-size: 2rem;
    margin: 0;
    font-family: 'Cormorant Garamond', serif;
    text-decoration: none;
    
}
.nombres:hover {
    color:  #545646;
}
.nav-item{
    font-family: Georgia, serif;
    font-weight: bold;
}

.nav-link.active {
  color: #545646 !important;
  font-weight: bold;
  background-color: #d7c6ad;
  border-radius: 999px;
  padding: 0.3em 1em;
  text-decoration: none;
  transition: background 0.2s;
}
.nav-link {
  color: #545646 !important;
  font-weight: bold;
  transition: background 0.2s;
}
.navbar-brand{
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    color: #545646 !important;
    text-decoration: none;
     background-color: #d7c6ad;
  border-radius: 999px;
  padding: 0.3em 1em;
}